header {
  background-color: #3C3928;
  color: white;
  padding: 10px;
}

header a {
  color: white;
}

header a.active {
  color: #E6C401;
}

div .login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

div .login form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.menu-login {
  border: 1px solid black;
  border-radius: 10px;
  padding: 6rem 7rem;
  background-color: #3C3928;
  color: white;

}

.menu-login input {
  margin: 20px;
  width: 100%;
  background-color: #918230;
  padding: 10px;
}

button {
  background-color: #E6C401;
  color: white;
}

.orders-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-card {
  background-color: #444036;
  padding: 16px;
  margin: 12px auto;
  border-radius: 12px;
  color: white;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 400px;
}

.order-card-father {
  background-color: #444036;
  margin: 12px auto;
  border-radius: 12px;
  color: white;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 400px;
}

.order-card:hover {
  transform: scale(1.02);
}

.order-date {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 8px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}



.order-status {
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
}

.order-status.pendiente {
  background-color: #e69d01;
  color: white;
}

.order-status.preparando {
  background-color: #3b82f6;
  color: white;
}

.order-status.entregado {
  background-color: #10b981;
  color: white;
}

.order-status.cancelado {
  background-color: tomato;
  color: white;
}

.order-price {
  font-size: 16px;
  font-weight: bold;
}

.order-button {
  display: flex;
  align-items: end;
  justify-content: end;
}

.order-button button {
  margin: 10px;
}

.order-detail-father {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #2b291f; */
}

.order-detail {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  background-color: #3C3928;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.section-title,
.products-title {
  font-weight: 700;
  margin-top: 1rem;
  color: #E6C401;
}

.products-title {
  margin-bottom: 0.5rem;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border: 1px solid #5a573f;
  border-radius: 0.5rem;
  background-color: #4a472f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 6px;
}


@media (max-width: 500px) {
  .order-card {
    max-width: 90%;
  }

  .order-card-father {
    max-width: 90%;
  }
}